* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html, body, .box {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  font-family: helvetica; }

header {
  width: 100%;
  background: #333;
  padding: .4rem;
  border-bottom: solid 2px #4BCCAE; }
  header > div {
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center; }
    header > div img {
      width: 1.3rem; }

.nav {
  width: 100%;
  padding: .4rem;
  background: #FAFAFA; }
  .nav > div {
    display: flex;
    align-items: center; }
    .nav > div div {
      width: 50%;
      text-align: center;
      border-right: solid 1px #E3E3E3; }
      .nav > div div:last-of-type {
        border: none; }
      .nav > div div img, .nav > div div span {
        vertical-align: middle;
        font-size: .8rem; }
      .nav > div div img {
        margin-right: .5rem;
        width: 1.4rem; }

.head {
  width: 100%;
  position: fixed;
  top: 0px; }

.box {
  padding-top: 4.1rem;
  overflow-y: auto; }
  .box .banner {
    width: 100%; }
    .box .banner img {
      width: 100%; }
  .box .list_1 {
    width: 100%; }
    .box .list_1 ul {
      padding: .3rem; }
      .box .list_1 ul li {
        padding: .5rem;
        border-bottom: solid 1px #eee;
        font-size: .7rem; }
  .box .list_2, .box .list_3 {
    width: 100%; }
    .box .list_2 .list2_head, .box .list_3 .list2_head {
      padding: .4rem;
      display: flex;
      justify-content: space-between;
      background: #FAFAFA;
      border-top: solid 4px #57C0AF;
      border-bottom: solid 1px #eee;
      font-size: 1rem;
      font-weight: 800;
      align-items: center; }
      .box .list_2 .list2_head img, .box .list_3 .list2_head img {
        width: 1.4rem; }
    .box .list_2 .list2_bot_h, .box .list_3 .list2_bot_h {
      width: 100%;
      display: flex;
      border-bottom: solid 1px #eee; }
      .box .list_2 .list2_bot_h div, .box .list_3 .list2_bot_h div {
        width: 70px;
        height: 50px;
        line-height: 50px;
        text-align: center; }
        .box .list_2 .list2_bot_h div.underTheWire, .box .list_3 .list2_bot_h div.underTheWire {
          border-bottom: solid 3px #D43553; }
    .box .list_2 .list2_bot_c p, .box .list_3 .list2_bot_c p {
      width: 100%;
      padding: .4rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .box .list_2 .list2_bot_c > div, .box .list_3 .list2_bot_c > div {
      width: 100%;
      display: flex;
      font-size: .7rem;
      padding: 0 .4rem;
      align-items: center;
      padding-bottom: 1rem; }
      .box .list_2 .list2_bot_c > div img, .box .list_3 .list2_bot_c > div img {
        margin-right: .5rem; }
    .box .list_2 .list2_bot_b, .box .list_3 .list2_bot_b {
      width: 100%;
      padding: 0 .3rem; }
      .box .list_2 .list2_bot_b li, .box .list_3 .list2_bot_b li {
        width: 100%;
        padding: .6rem .3rem;
        font-size: .8rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-top: solid 1px #EEEEEE; }

footer {
  width: 100%;
  bottom: 0px;
  text-align: center; }
  footer > div {
    padding: 1rem 0; }
    footer > div:first-of-type {
      background: #FAFAFA; }
    footer > div img, footer > div span {
      vertical-align: middle;
      margin-right: .6rem;
      font-size: .8rem; }
    footer > div:last-of-type {
      background: #333;
      display: flex;
      color: #FAFAFA; }
      footer > div:last-of-type div {
        width: 50%;
        border-right: 1px solid #FAFAFA; }
        footer > div:last-of-type div:last-of-type {
          border: none; }

/*# sourceMappingURL=guoke.css.map */
